# -----------------------------------------------------------------------------
# Operating System
# -----------------------------------------------------------------------------

.DS_Store
Thumbs.db
Desktop.ini

# -----------------------------------------------------------------------------
# Editors & IDEs
# -----------------------------------------------------------------------------

.vscode/
.idea/

# -----------------------------------------------------------------------------
# Logs
# -----------------------------------------------------------------------------

*.log

# -----------------------------------------------------------------------------
# Temporary files
# -----------------------------------------------------------------------------

*.tmp
*.temp
*.bak
*.swp